<!doctype html>
<html lang="en">

<head>
    <title>Contactos registrados</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Local -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Icon Fonts -->
    <link rel="stylesheet" href="/css/fontello.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/custom-style.css">

</head>

<body>
    <div class="container pt-3">
        <h1>Contactos registrados</h1>
        <table class="table table-striped table-bordered mt-3">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    <th>Ocupacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% usuarios.forEach(user => { %>
                    <tr>
                        <td style="text-align: center;">
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.nombre %>
                        </td>
                        <td>
                            <%= user.apellido %>
                        </td>
                        <td>
                            <%= user.edad %>
                        </td>
                        <td>
                            <%= user.telefono %>
                        </td>
                        <td>
                            <%= user.correo %>
                        </td>
                        <td>
                            <%= user.direccion %>
                        </td>
                        <td>
                            <%= user.ocupacion %>
                        </td>
                        <td style="text-align: center;">
                            <a class="link-primary" href="/usuarios/detalles/<%= user.id %>">
                                <i class="icon-eye"></i>
                            </a>

                            <a class="link-primary" href="/usuarios/editar/<%= user.id %>">
                                <i class="icon-edit"></i>
                            </a>

                            <a class="link-primary" href="/usuarios/eliminar/<%= user.id %>">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <hr>
        <a class="link-primary" href="/"><button class="btn btn-primary">INICIO</button></a>
        <a class="link-primary" href="/usuarios/registro"><button class="btn btn-success">AGREGAR CONTACTO</button></a>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Bootstrap Local -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- CUSTOM JS -->
    <script type="module" src="/js/custom-scripts.js"></script>

</body>

</html>