<!doctype html>
<html lang="en">

<head>
    <title>Detalles de contacto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Local -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Icon Fonts -->
    <link rel="stylesheet" href="/css/fontello.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/custom-style.css">

</head>

<body>
    <div class="container pt-3">
        <h1>Detalles de contacto</h1>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body d-flex flex-wrap">
                <div id="imagenPerfil" class="col-sm-6 text-center px-3">
                    <img src="<%= user.imagen %>" alt="">
                </div>
                <div class="col-sm-6">
                    <h2 class="card-title">
                        <%= user.nombre %>
                            <%= user.apellido %>
                    </h2>
                    <p class="card-text"><b>ID:</b>
                        <%= user.id %>
                    </p>
                    <p class="card-text"><b>Edad:</b>
                        <%= user.edad %>
                    </p>
                    <p class="card-text"><b>Telefono:</b>
                        <%= user.telefono %>
                    </p>
                    <p class="card-text"><b>Correo:</b>
                        <%= user.correo %>
                    </p>
                    <p class="card-text"><b>Direccon:</b>
                        <%= user.direccion %>
                    </p>
                    <p class="card-text"><b>Ocupacion:</b>
                        <%= user.ocupacion %>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <a class="link-primary" href="/"><button class="btn btn-primary">INICIO</button></a>
        <a class="link-primary" href="/usuarios/registro"><button class="btn btn-success">AGREGAR CONTACTO</button></a>
        <a class="link-info " href="/usuarios/todos "><button class="btn btn-info ">CONTACTOS REGISTRADOS</button></a>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Bootstrap Local -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- CUSTOM JS -->
    <script type="module" src="/js/custom-scripts.js"></script>

</body>

</html>